.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #22201d;
  font-family: "Courier New", Courier, monospace;
}

img {
  filter: sepia(70%);
}

.timeline-container {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  padding-top: 7.5vh;
  height: 80vh;
  width: 50vw;
  overflow-y: hidden;
  overflow-x: scroll;
}

.timeline-container::after {
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
	animation: color-change-3x 4s linear infinite alternate both;
  content: "";
  position: absolute;
  top: calc(47.5% + 4px);
  width: 50%;
  height: 8px;
}

 @-webkit-keyframes color-change-3x {
  0% {
    background: #c00d08;
  }
  50% {
    background: #959e9c;
  }
  100% {
    background: #da6b15;
  }
}
@keyframes color-change-3x {
  0% {
    background: #c00d08;
  }
  50% {
    background: #959e9c;
  }
  100% {
    background: #da6b15;
  }
}


.timeline-item {
  display: flex;
  align-self: flex-start;
  position: relative;
  margin: 0px 10px;
}

.timeline-item:nth-child(odd) {
  justify-self: flex-end;
  align-content: flex-start;
  padding-bottom: 0;
  padding-top: 45vh;
}

.timeline-item-content {
  border-radius: 5px;
  background-color: rgba(255, 155, 6, 0.8);
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
  width: 100%;
  text-align: center;
  max-height: 40vh;
  min-width: 10vw;
  text-align: center;
}

.timeline-item-content img {
  height: 25vh;
}

.timeline-item-content p {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #773c0e;
  font-family: 'Courier New', Courier, monospace;
}

.timeline-item-content::after {
  content: " ";
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: rgba(255, 155, 6, 0.8);
  position: absolute;
  bottom: -7.5px;
  right: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item-content:hover, .timeline-item-content:active, .timeline-item-content:focus {
  box-shadow: 0px 0px 15px 0px #959e9c;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  bottom: auto;
  top: -7.5px;
  transform: rotate(-135deg);
}

.sidebar {
  width: 30vw;
  padding: 10px;
  height: 80vh;
  margin: auto 0px;
  margin-left: 10px;
}

.infobox {
  border: 3px solid #da6b15;
  box-shadow: 0px 0px 10px 0px #da6b15;
  border-radius: 5px;
  color: #da6b15;
}

#details {
  margin-top: 20px;
  height: 60vh;
  padding: 15px;
  overflow-y: scroll;
  text-align: justify;
  font-size: 16px;
  font-weight: 600;
}

.overthrow {
  width: 60%;
  height: 5vh;
  margin-right: 40%;
  margin-top: 20px;
  border: 0px;
  border-radius: 10px;
  background-color: #ff9b06;
  color: #22201d;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 16px;
}
.overthrow:hover {
  background-color: #da6b15;
}
.overthrow:active, .overthrow:focus {
  background-color: #c00d08;
  -webkit-animation: vibrate-1 0.3s linear infinite both;
	animation: vibrate-1 0.3s linear infinite both;
}

.branched {
  margin-left: 10vw;
  width: fit-content;
  height: fit-content;
  margin-top: 40vh;
  -webkit-animation: flicker-in-1 2s linear infinite both;
	animation: flicker-in-1 2s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

